@import "compass";

.event-registration-portlet {
	
	.event-title {
		font-weight: 700;
		font-size: 1.1em;
		display: inline-block;
		margin-right: 10px;
	}
	
	#map {
		height: 300px;
	}
	
	#eventImages {
		width:40%;
		margin: 0 0 20px 20px;
		
		a {
			width: 18%;
			padding: 0 10px 0 10px;
			float: right;
		}
	}
	
	.calendar-html-container {
		display:none;
	}

	.address {
		font-weight: bold;
	}
}

#calendarHtml {
	
	.taglib-calendar {
		float:right;
		
		.table th, .table td {
			padding:0;
			text-align: center;
			vertical-align: middle;
		}
	}
	
}

.event-management-portlet {
	
	.event-option {
		border: 1px solid #d0d0d0;
	    border-left-width: 10px;
	    padding: 7px 10px 10px;
	    margin: 15px 0 0;
	    @include border-radius(5px);
	}
	
	.email-user-text {
		width: 50%;
		height: 100px;
	}
	
}

.popover {
	z-index: 1 !important;
}

.taglib-search-toggle .popover .arrow {
	width:0 !important;
}